@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.bg-container{
  text-align: center;
  background-image:url("https://res.cloudinary.com/djhuqjvrl/image/upload/v1764610174/home-bg_oflcds.jpg");
  height: 100vh;
  width:100vw;
  background-size:cover;
}
.bcard{
  background-color: white;
  border-radius: 30px;
  height: 30vh;
}
.main-heading{
  text-decoration: underline;
  font-family:"Lobster";
}
.b{
  border-radius: 50px;
  height: 30px;
  width:150px;
  background-color:pink;
}
.container{
  background-image: url("https://images.unsplash.com/photo-1565881606991-789a8dff9dbb?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZnJlZSUyMHBhcmlzJTIwaW1hZ2VzfGVufDB8fDB8fHww");
  background-color:white;
  text-align: center;
  height: 700px;
  width:100vw;
  font-family:"Lobster";
}
.favourite-b{
  background-color: black;
  width:90vw;
}
.image-container{
  padding:16px;
  border-radius:20px;
  background-color: white;
  padding:;
  margin:15px;
  text-align: left;
  height:23vh ;
}
.image{
  text:right
  height: 140px;
  width:100px;
}
.favourite-para{
  color:#0320fc;
}
.detailed-bg-container{
  background-image:url("https://media.istockphoto.com/id/1204246901/photo/dusty-particles-background-image.webp?a=1&b=1&s=612x612&w=0&k=20&c=uKNom_5oUvFk8ItAEg5xWRJau8eV7wgTf8O3CguqDpM=");
  height: 120vh;
  width:100vw;
}
.detailed-heading{
  color:white;
  font-size:30px; 
  text-align: center;
  font-family:"Loboster" ;
  font-weight:bold;
}
.detailed-view-card-container{
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin:50px;
  height: 100vh;
}
.detailed-card-text-container{
  padding:10px;
  font-family: "loboster";
}
.detailed-paris-bg-container1{
  background-image:url("https://media.istockphoto.com/id/1204246901/photo/dusty-particles-background-image.webp?a=1&b=1&s=612x612&w=0&k=20&c=uKNom_5oUvFk8ItAEg5xWRJau8eV7wgTf8O3CguqDpM=");
  height: 150vh;
  width:100vw;
}
.detailed-paris-heading{
  color:white;
  font-size:30px; 
  text-align: center;
  font-family:"Loboster" ;
  font-weight:bold;
}
.detailed-paris-view-card-container{
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin:50px;
}
.detailed-paris-card-text-container{
  padding:15px;
  font-family: "loboster";
}
.detailed-bali-bg-container1{
  background-image:url("https://media.istockphoto.com/id/1204246901/photo/dusty-particles-background-image.webp?a=1&b=1&s=612x612&w=0&k=20&c=uKNom_5oUvFk8ItAEg5xWRJau8eV7wgTf8O3CguqDpM=");
  height: 120vh;
  width:100vw;
}
.detailed-bali-heading{
  color:white;
  font-size:30px; 
  text-align: center;
  font-family:"Loboster" ;
  font-weight:bold;
}
.detailed-bali-view-card-container{
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}
.detailed-bali-card-text-container{
  padding:15px;
  font-family: "loboster";
}